{% extends 'base.html' %}

{% block content %}
<h1 style = "text-align:center; color: blue;"> User Dashboard </h1>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
{% if not user.driverProfile.is_driver %}
<a href="{% url 'driver_register' %}" class="btn btn-info" role="button" style="margin-left: 615px ;">Register as a driver </a>

{% else %}
<a href="{% url 'driver_update_info' %}" class="btn btn-info" role="button" style="margin-left: 615px">Update Driver Profile</a>
{% endif %}
{% endblock %}