{% extends 'base.html' %}

{% block content %}
<head>
	<title>Rover</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="app.css">

</head>
<div class="container">
<div class="jumbotron" id = "jumbo">
  
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12-md">
      <i class="fas fa-taxi fa-5x"></i>
      <br>
      <br>

      
  <div id = "aboutme">
    
  <p> Rover is a ride-sharing app developed by <strong> Riish Ganguly </strong> and <strong> Haohong Zhao</strong> for the class <strong> <a href = "http://people.duke.edu/~bmr23/ece568/class.html " target ="_blank">Engineering Robust Server Software</a></strong>. </p>
  
    <p>
     The app was developed using the Django framework and helps connect riders with drivers. For learning more about the functionality, follow this <a href =" https://github.com/Haohong-Zhao/Django-Ride-Share/blob/master/README.md">link.</a>
    </p>

    <p>
      Feel free to contact us. We would appreciate your feed-back. Hope you enjoyed using our app.
      <br>
       <a href="mailto:rg239@duke.edu"><bold> Rijish Ganguly <bold> </a></li>
       <a href="mailto:haohong.zhao@duke.edu"> <bold> Haohong Zhao </bold></li>
    </p>

</div>


 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>



{% endblock %}